.card-format {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    margin: 0.5rem
}
  
.card-format .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 3rem;
}

.card-format .card-body {
    padding: 2rem;
}

.form-format {
    width: 100%;
}

.card-content {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.card-content label {
    font-size: 1.25rem;
}

.card-content span {
    color: red; 
}

.form-format .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
height: auto;
border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
padding: var(--input-padding-y) var(--input-padding-x);
}



